<%= form_for(@image) do |f| %>
  <div class="field">
    <%= f.text_field :file_path, :placeholder "File path, png or jpg." %>
  </div>
  <div class="field">
    <%= f.label :Language %><br>
    <%= f.text_field :language, :placeholder "first two letters of any language" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
