<fieldset>
<%= form_for([@user, @image]) do |f| %>
  <div class="field">
    <%=f.text_field :title, :placeholder => "Image title", :size => 30 %>
    <%=f.text_field :url, :placeholder => "File path, png or jpg.", :size => 50 %>
  </div>
  <div class="field">
    <%=f.text_field :language, :placeholder => "first two letters of any language", :size => 40 %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
</fieldset>
