<!DOCTYPE html>
<html>
<head>
  <title>NotetakerApp</title>
  <%= stylesheet_link_tag    'application', sound: 'all', 'data-turbolinks-track' => true %>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc.15.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div id = "navbar">
    <ul>
        <% if user_signed_in? %>
        <li>  Signed in as<%= link_to " #{current_user.email}", user_path(current_user)  %></li>
        <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button'  %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'button'  %></li>
        <li><%= link_to "Login", new_user_session_path, :class => 'button',  :"data-reveal-id" => "login-form" %></li>
         <% end %>
    </ul>
  </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </head>
<body>

<%= yield %>

</body>
</html>
